@charset "UTF-8";

* {
    font-family: system-ui;
    background-attachment: fixed;
}

body {
    padding: 10px;
    background-color: #3B7ED0;
}

header, footer {
    color: white;
    text-align: center;
}

header > h1 {
    padding: 15px;
}

footer a {
    text-decoration: none;
    color: white;
}

section {
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.267);
    margin: auto;
    max-width: 500px;
    margin-bottom: 10px;
    text-align: justify;
}

section input {
    padding: 2px;
    border-radius: 5px;
}

section label {
    margin-right: 5px;
}

div#res {
    text-align: center;
}